<div class="mt-4" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-lg-3">
            <h1>{{course.name}}</h1>
        </div>
        <div class="col-lg-9">
            <h2>{{course.information}}</h2>
            <img src="{{course.img}}" alt="{{course.name}}">
            <iframe width="900" height="500" src="https://www.youtube.com/embed/{{course.videoId}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>