<div class="mt-4">
    <h2>Khóa học của tôi</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Level</th>
                <th scope="col">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createAt}}</td>
                <td>
                    <a href="" data-id="{{this._id}}" class="btn-restore">Khôi phục</a>
                    <a href="" data-toggle="modal" data-target="#exampleModal" data-id="{{this._id}}">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <td colspan="5" class="text-center">
                <h2>Danh sách trống</h2>
                <h2><a href="http://localhost:3000/me/store/courses">Quay lại</a></h2>
            </td>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- delete course --}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xóa sản phẩm không?
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-delete-course" class="btn btn-primary">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
{{!-- form delete --}}
<form name="delete-form" method="POST"></form>
<form name="restore-form" method="POST"></form>
{{!-- xử lý xóa --}}
<script>
    // khai báo id , form, và modal
    var courseId;
    var btnDeleteCourse = document.getElementById('btn-delete-course');
    var deleteForm = document.forms['delete-form'];
    var restoreForm = document.forms['restore-form'];
    //button xóa, ở button xóa của modal thêm class delete-course
    document.addEventListener('DOMContentLoaded', function () {//when domcontent load => xu ly data nay  
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        })
        //submit form action dia chi voi id xoa va thuoc tinh DELETE
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }
        var restoreBtnAll = document.querySelectorAll('.btn-restore');
        restoreBtnAll.forEach((restoreBtn) => {
            restoreBtn.addEventListener('click', (e) => {
                e.preventDefault();

                var courseId = restoreBtn.getAttribute('data-id');
                restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
                restoreForm.submit();
            });
        });

    })
</script>